In [1]:
import pandas as pd
import os

import vizro.models as vm
import vizro.plotly.express as px
from vizro import Vizro
from vizro.actions import export_data, filter_interaction

In [8]:
from vizro.models._controls.filter import _filter_between

In [9]:
df = px.data.stocks()
df.date = pd.to_datetime(df.date)

In [17]:
# Pick a date range
mask = _filter_between(series=df.date,value=["2018-01-01","2018-03-31"])

In [18]:
df[mask]

         date      GOOG      AAPL      AMZN        FB      NFLX      MSFT
0  2018-01-01  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1  2018-01-08  1.018172  1.011943  1.061881  0.959968  1.053526  1.015988
2  2018-01-15  1.032008  1.019771  1.053240  0.970243  1.049860  1.020524
3  2018-01-22  1.066783  0.980057  1.140676  1.016858  1.307681  1.066561
4  2018-01-29  1.008773  0.917143  1.163374  1.018357  1.273537  1.040708
5  2018-02-05  0.941528  0.893771  1.089868  0.942521  1.188009  0.999887
6  2018-02-12  0.993259  0.985314  1.178621  0.949211  1.326349  1.043202
7  2018-02-19  1.022282  1.002857  1.220365  0.980947  1.361636  1.066561
8  2018-02-26  0.978852  1.006914  1.220569  0.945250  1.433640  1.055108
9  2018-03-05  1.052448  1.028457  1.284549  0.991330  1.578361  1.094682
10 2018-03-12  1.030393  1.017257  1.278683  0.990581  1.516501  1.072684
11 2018-03-19  0.926821  0.942514  1.216753  0.853037  1.433116  0.988547
12 2018-03-26  0.936093  0.958743  1.177522  0.855178  1.406496  1.034925

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    105 non-null    datetime64[ns]
 1   GOOG    105 non-null    float64
 2   AAPL    105 non-null    float64
 3   AMZN    105 non-null    float64
 4   FB      105 non-null    float64
 5   NFLX    105 non-null    float64
 6   MSFT    105 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 5.9 KB

In [ ]:
Vizro._user_assets_folder = os.path.abspath("../assets")
Vizro().build(dashboard).run()